.login-content{
    margin: 0 auto;
}

.login-image{
    height: 300px;
    max-width: 100%;
}


.login-title{
    font-size: 24px;
    line-height: 31.2px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
}
.login-subtitle{
    font-size: 12px;
    line-height: 15.6px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    margin-top: 9px;
}
.login-form{
    margin-top: 70px;
}

.login-fields{
    height: 50px;
    width: 348px;
    border-radius: 15px;
    outline: none;
}

.login-password{
    margin-top: 12px;
}

input[type=email],input[type=password]{
    padding: 0 28px;
    box-sizing: border-box;
}

.login-submit{
    height: 50px;
    width: 348px;
    border-radius: 15px;
    outline: none;
    background-color: #2BFEBA;
    margin-top: 25px;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    border: none;
}



.login-alternate{
    font-size: 12px;
    line-height: 15.6px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    margin-top: 43.14px;
}

.login-alternate-google{
    width: 104px;
    height: 54.68px;
    background: #C5331E;
    border-radius: 25px;
    outline: none;
    font-size: 18px;
    color: #FFFFFF;
    border:none;
}

.login-alternate-facebook{
    width: 104px;
    height: 54.68px;
    background: #4E6297;
    border-radius: 25px;
    outline: none;
    font-size: 20px;
    color: #FFFFFF;
    border:none;
    margin-left: 31px;
}